<script>
  import Header from "../components/Header.svelte";
  import Counter from "../components/Counter.svelte";
</script>

<style>
</style>

<svelte:head>
  <title>Mantra Counter</title>
</svelte:head>

<Header title="Mantra Counter" />
<Counter />
