<script>
  export let title;
</script>

<style>
  h1 {
    text-align: center;
    margin: 0 auto;
  }

  h1 {
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 0.5em 0;
  }
  .fa-hand-pointer{
    text-align: center;
    margin: 0 auto;
  }

  @media (min-width: 480px) {
    h1 {
      font-size: 4em;
    }
  }
</style>

<nav class="header navbar navbar-dark bg-dark">
  <div class="container">
    <div class="row m-auto">
      <i class="far fa-hand-pointer fa-4x text-white" />
      <h1 class="ml-2 my-auto text-light">{title}</h1>
    </div>
  </div>
</nav>
